.playerModulePlayList {
    
    margin-bottom:20px;
    /* padding-top:30px;
    padding-bottom:40px; */
    -webkit-animation: fadein 1s;
}



.playListPlyrInfos {
    margin-left:5.5%;
    margin-right:5%;
    border:3px solid rgb(16, 194, 90);
    padding:9px;
    text-align:center;
    border-radius: 5px;
}

@media only screen and (min-width: 1335px)  {
    .playerModulePlayList {
        display:grid;
        grid-template-columns: 0.50fr 0.50fr;
        grid-template-rows: 200px;
        margin-left:20%;
        margin-right:15%;
    }

    .playListName {
        grid-column: 1;
        grid-row: 1;
        text-align:left;
        align-self: center;
    }
    
    .playListPlayer {
        grid-column: 2;
        grid-row: 1;
        text-align:center;
        align-self: center;
    }
}

@media only screen and (max-width: 1334px)  {
    .playerModulePlayList {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        /* margin-top:30px;
        margin-bottom:30px; */

    }
    .playListName {
        text-align:center;
        align-self: center;
    }
    .playListPlayer {
        /* margin-top:50px; */
        text-align:center;
        align-self: center;
    }
}
