.unauthContent {
    width:70%;
    max-width:600px;
    margin:auto;
    margin-top:10%;
    padding:100px;
    border:3px solid black;
    border-radius: 2px;
    /* text-align:center; */
}

.unauthContent .unauthB {
    color:white;
    background:black;
    display: inline;
}

.unauthContent h2 {
    /* text-align:center; */
}