.unauthContent {
    width:100%;
    max-width:600px;
    margin:auto;
    margin-top:5%;
    /* margin-left:3%;
    margin-right:3%; */
    padding:10%;
    /* border:3px solid black; */
    border-radius: 2px;
    /* text-align:center; */
}

.unauthContent .unauthB {
    color:white;
    background:black;
    /* display: inline; */
}

.unauthContent h2 {
    text-align:center;
}

.unauthCore {
    display:flex;
    /* flex-wrap: wrap; */
    align-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px)  {

    /* .unauthCore {
        display:block;

    }

    .unauthContent {
        padding:5%;
    }

    .unauthCore form {
        display:block;

    } */

}