.audioPlayerButtons {
    margin-top:45px;
}

.titleAndLike h4,.titleAndLike button{
    display: inline;
    margin-left:5px;
    margin-right:5px;
}

.songStats{
    margin-top:15px;
}

.songStats p{
    display: inline;
    margin-left:5px;
    margin-right:5px;
}