.stationPlayer {
    display:grid;
    grid-template-columns: 0.50fr 0.50fr;
    grid-template-rows: 200px;
    justify-items: center;
    margin-left:18%;
    margin-right:15%;
    /* padding-top:35px;
    padding-bottom:50px; */
    -webkit-animation: fadein 1s;
}

.stationInfos {
    grid-column: 1;
    grid-row: 1;
    text-align:left;
    align-self: center;
}

.stationAudioPlayer {
    grid-column: 2;
    grid-row: 1;
    text-align:center;
    align-self: center;
}

.stPlrCoverAndName {
    display:grid;
    grid-template-columns: 0.25fr 0.75fr;
}

.stPlrCover {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.stPlrName {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    margin-left:25px;
    min-width:150px;
}

.stPlrName h3, .stPlrName button, .stPlrName h5{ 
    display: inline;
    margin-left:5px;
    margin-right:5px;
}


.stPlrCover img {
    height: 90px;
    width: 90px;
    border:1px solid black;
    border-radius: 5px; 
}

.discoverInfoStationPlayer {
    margin-left:5.5%;
    margin-right:5%;
    border:3px solid rgba(209, 22, 22, 0.774);
    padding:9px;
    text-align:center;
}