.songDisplay {
    flex: 1 0 20%; /* explanation below */
    margin: 12.5px;
    /* text-align:center; */
    position: relative;
    -webkit-animation: fadein 1.0s;
    align-items: center;
    justify-content: center;
}

.songDisplay img{
    display:inline-block;
    height: 185px;
    width: 185px;
    border:1px solid black;
    border-radius: 5px; 
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
}

.songDisplay img:hover {
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 55px inset;
    opacity: 0.9;
}

.spaceD, .spaceDS {
    height:40px;
    width:100%;
    position: absolute;
    background:rgba(24, 24, 24, 1);
    bottom:0px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.spaceDS {
    height:30px;
}

.spaceD h6, .spaceDS h6 {
    margin:0px;
    color:white;
    padding:0px;
    text-align:left;
    padding:2px;
    margin-left:5px;
    margin-top:3px;
}

.spaceDS h6 {
    margin-top:6px;
    text-align:center;
}
