.songDisplay {
    flex: 1 0 20%; /* explanation below */
    margin: 10px;
    text-align:center;
}

.songDisplay img{
    height: 185px;
    width: 185px;
    border:1px solid black;
    border-radius: 5px; 
}