.stationCore {
    width: 60%;
    margin:auto;
}

.currentlyPlaying {
    float:left;
    margin-left:200px;
}

.currentlyPlaying img{
    height: 100px;
    width: 100px;
    border:3px solid black;
}

.profile {
    float:left;
}

.clearBoth {
    clear:both;
}