.core {
    width:90%;
    margin:auto;
    text-align: center;
    -webkit-animation: fadein 2.0s;
}

/* animation fade in source: https://stackoverflow.com/questions/11679567/using-css-for-fade-in-effect-on-page-load */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html {
    background-color:white;
    font-family: Sans-Serif;
}

.logo {
    background-image: url("https://res.cloudinary.com/dkt7hv91e/image/upload/v1554141817/logo.png");
    width:400px;
    margin-left: 100px;
    height:100px;
}

.top {
    margin-left:130px;
}