.chatCore {
    width:100%;
    border-radius: 5px;
    -webkit-animation: fadein 0.5s;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
    height:500px;
    padding:10px;
    margin-top:25px;
    position:relative;
}

.chatroomListContainer {
    width:25%;
    height:79%;
    overflow:auto;
    position:absolute;
    right:50px;
    top:54px;
    /* border:1px solid black; */
    /* border-radius:5px; */
}

.messengerCore {
    width:66.3%;
    padding:10%;
    height:78%;
    margin-top:45px;
    margin-left:50px;
    padding:10px;
    /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);  */
    border:1px solid black;
    border-radius:2px;
}

.chatroomListContainer::-webkit-scrollbar-track
{
	background-color: white;
}

.chatroomListContainer::-webkit-scrollbar
{
	width: 8px;
	background-color: white;
}

.chatroomListContainer::-webkit-scrollbar-thumb
{
    border-radius:10px;
	background-color: #5479f2;
}

.chatRoomBloc {
    width:87%;
    position:relative;
    padding:19px;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
    opacity:0.9;
    margin:auto;
    margin-bottom:1px;
}

.chatRoomBloc:hover{
    opacity:1;
    color: #5479f2;
    /* box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);  */
    /* border-color:rgba(207, 22, 22, 0.658); */
    /* color:rgb(0, 150, 45); */
}

.chatRoomBloc h2, .chatRoomBloc h4, .chatRoomBloc img{
    display:inline;
    margin-right:15px;
}

.onlineStatusC {
    position:absolute;
    right:10px;
    bottom: 30px;
} 

.imgDisplayChat {
    width:35px;
    height:35px;
    border-radius:5px;
}

/* .unreadCountM .messageImg{
    margin-top:3px;
} */

.unreadCountM {
    position:absolute;
    right:37px;
    bottom: 1px;
    color:rgb(226, 11, 11);
}

.followersNbr {
    margin-left:8%;
    color: rgb(16, 194, 90);;
    float:left;
    padding:50px;
    margin-top: 90px;
}

.followingNbr {
    margin-left:3%;
    color: #5479f2;
    float:left;
    padding:50px;
    margin-top: 90px;
}

.followersCnt {
    font-size:580%;
}

.followersTxt{
    font-size:125%;
}

.chatroomWindow {
    /* position:absolute; */
    width:66.1%;
    height:330px;
    /* top:0px; */
    margin:50px;
    margin-top:52px;
    margin-bottom:15px;
    padding-top:80px;
    border-radius:3px;
    border:2px solid rgb(97, 97, 145);
    padding:3px;
    padding-left:10px;
    padding-right:10px;
}

.chatroomInputContainer {
    /* position:absolute; */
    width:100%;
    /* padding:50px; */
    /* padding-bottom:80px; */
    margin-right:50px;
    margin-left:50px;
}

.chatroomInput {
    width:66.1%;
    height:30px;
    font-size:16px;
    color:black;
    border-radius:3px;
    border:2px solid rgb(90, 90, 167);
    padding:3px;
    padding-left:10px;
    padding-right:10px;
}

.invitationToChat {
    padding:30px;
    font-size:20px;
}
